{{ $footer := .Site.GetPage "/footer" }}
{{ with $footer }}
  </main>
    
  <footer class="footer">
    <div class="footer--wrap">
      <div class="footer--wrap--menus">
        <div class="menus">
          <h2 class="menus--title">{{ .Params.footer_section1_title }}</h2>
          {{ range .Site.Params.footer_section1 }}
            <span class="menus-description--info">{{ .info }}</span>
          {{ end }}
        </div>
        <div class="menus">
          <h2 class="menus--title">{{ .Params.footer_section2_title }}</h2>
          {{ range .Site.Params.footer_section2 }}
            <span class="menus-description--info">{{ .info }}</span>
          {{ end }}
        </div>
        <div class="menus">
          <h2 class="menus--title">{{ .Params.footer_section3_title }}</h2>
          {{ range .Site.Params.footer_section3 }}
            <span class="menus-description--info">{{ .info }}</span>
          {{ end }}
        </div>
      </div>
      <div class="footer--wrap--rights">
        © {{ now.Format "2006" }} {{ .Params.footer_copyright }}. All Rights Reserved.
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="../js/app.js"></script>

  </body>
  </html>
{{ end }}