{{ $section5 := .Site.GetPage "/section5" }}
{{ with $section5 }}
  <section class="section5">
    <div class="section5--wrap">
      <div class="section5--wrap--left right-animation">
        <h3 class="section5--wrap--left--subtitle">
          {{ .Params.section5_subtitle }}
        </h3>
        <h1 class="section5--wrap--left--title">{{ .Params.section5_title }}</h1>
        <p class="section5--wrap--left--description">
          {{ .Params.section5_desc }}
        </p>
      </div>
      <div class="section5--wrap--right left-animation">
        {{ range .Params.section5_working_days }}
        <div class="section5--wrap--right--workingdays">
          <div class="workingdays--days">{{ .day }}</div>
          <div class="workingdays--separator">-</div>
          <div class="workingdays--time">{{ .hours }}</div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>  
{{ end }}