{{ $section2 := .Site.GetPage "/section2" }}
{{ with $section2 }}
  <section class="section2">
    <div class="section2--wrap">
      <div class="section2--wrap--left right-animation">
        <h3 class="section2--wrap--left--subtitle">{{ .Params.section2_subtitle }}</h3>
        <h2 class="section2--wrap--left--title">{{ .Params.section2_title }}</h2>
        <p class="section2--wrap--left--description">{{ .Params.section2_desc }}</p>
        <a href="#" target="_blank">
          <button class="section2--wrap--left--button">{{ .Params.section2_btn_txt }}</button>
        </a>
      </div>

      <div class="section2--wrap--right left-animation">
        <img class="section2--wrap--right--img" src="{{ .Params.section2_image }}" alt=""/>
      </div>
    </div>
  </section>  
{{ end }}