{{ partial "header.html" . }}

<section class="section2">
  <div class="section2--wrap">
    <div class="section2--wrap--left right-animation">
      <h3 class="section2--wrap--left--subtitle">{{ .Params.section2_subtitle }}</h3>
      <h2 class="section2--wrap--left--title">{{ .Params.section2_title }}</h2>
      <p class="section2--wrap--left--description">{{ .Params.section2_desc }}</p>
      <a href="#" target="_blank">
        <button class="section2--wrap--left--button">{{ .Params.section2_btn_txt }}</button>
      </a>
    </div>

    <div class="section2--wrap--right left-animation">
      <img class="section2--wrap--right--img" src="{{ .Params.section2_image }}" alt=""/>
    </div>
  </div>
</section>

<section class="section3">
  <div class="section3--wrap">
    <div class="section3--wrap--top">
      <h3 class="section3--wrap--top--subtitle">{{ .Params.section3_subtitle }}</h3>
      <h2 class="section3--wrap--top--title">{{ .Params.section3_title }}</h2>
      <p class="section3--wrap--top--description">{{ .Params.section3_desc }}</p>
    </div>
    <div class="section3--wrap--bottom bottom-animation">
      {{ range .Params.section3_cards }}
        <div class="cards--card">
          <img class="card--icon" src="{{ .icon_img }}" alt="" />
          <h3 class="card--title">{{ .title }}</h3>
          <p class="card--description">{{ .description }}</p>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section4">
  <div class="section4--wrap">
    <div class="section4--wrap--left right-animation">
      <img class="section4--wrap--left--img" src="{{ .Params.section4_image }}" alt=""/>
    </div>
    <div class="section4--wrap--right left-animation">
      <h3 class="section4--wrap--right--subtitle">{{ .Params.section4_subtitle }}</h3>
      <h1 class="section4--wrap--right--title">{{ .Params.section4_title }}</h1>
      
      {{ range .Params.section4_dropdowns }}
        <div class="section4--wrap--right--dropdown">
          <div class="dropdown--wrap">
            <h1 class="dropdown--title">{{ .title }}</h1>
            <div class="dropdown--icon">
              <div class="icon--one"></div>
              <div class="icon--two"></div>
            </div>
          </div>
          <div class="dropdown--description">{{ .description }}</div>
        </div>
      {{ end }}
      
    </div>  
  </div>
</section>

<section class="section5">
  <div class="section5--wrap">
    <div class="section5--wrap--left right-animation">
      <h3 class="section5--wrap--left--subtitle">
        {{ .Params.section5_subtitle }}
      </h3>
      <h1 class="section5--wrap--left--title">{{ .Params.section5_title }}</h1>
      <p class="section5--wrap--left--description">
        {{ .Params.section5_desc }}
      </p>
    </div>
    <div class="section5--wrap--right left-animation">
      {{ range .Params.section5_working_days }}
      <div class="section5--wrap--right--workingdays">
        <div class="workingdays--days">{{ .day }}</div>
        <div class="workingdays--separator">-</div>
        <div class="workingdays--time">{{ .hours }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="section6"></section>

<section class="section7" id="services">
  <div class="section7--wrap">
    <div class="section7--wrap--top">
      <h3 class="section7--wrap--top--subtitle">Focus on beauty</h3>
      <h1 class="section7--wrap--top--title">Our service menu</h1>
    </div>
    <div class="section7--wrap--bottom bottom-animation">
      <!-- left side -->
      <ul class="section7--wrap--bottom--ul">
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Herbal Facial</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">$75</span>
          </div>
          <div class="ul--li--description">Service length 1 hour</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Deep Cleaning Facial</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">$130</span>
          </div>
          <div class="ul--li--description">Service length 55 minutes</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Organic Facial</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price"> $185</span>
          </div>
          <div class="ul--li--description">Service length 1,5 hours</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Four Layer Facial</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">$140</span>
          </div>
          <div class="ul--li--description">Service length 1,5 hours</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Biolight Facial</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">$165</span>
          </div>
          <div class="ul--li--description">Service length 1,5 hours</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Oxygen Blast Facial</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">$265</span>
          </div>
          <div class="ul--li--description">Service length 60 minutes</div>
        </li>
      </ul>
      <!-- right side -->
      <ul class="section7--wrap--bottom--ul">
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Eyebrow Tinting</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">$15+</span>
          </div>
          <div class="ul--li--description">Service length 40 minutes</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Eyelash Tinting</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">$25+</span>
          </div>
          <div class="ul--li--description">Service length 2 hours</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Lash Application</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">$45+</span>
          </div>
          <div class="ul--li--description">Service length 50 minutes</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Eyebrow Shaping</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">$50 - $97</span>
          </div>
          <div class="ul--li--description">Service length 1,5 hours</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Brow Tint</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">From $50</span>
          </div>
          <div class="ul--li--description">Service length 1 hour</div>
        </li>
        <li class="ul--li">
          <div class="ul--li--info">
            <h3 class="ul--li--info--title">Lash Tint</h3>
            <div class="ul--li--info--separator"></div>
            <span class="ul--li--info--price">From $50</span>
          </div>
          <div class="ul--li--description">Service length 50 minutes</div>
        </li>
      </ul>
    </div>
    <a href="#" target="_blank">
      <button class="section7--button">View all prices</button>
    </a>
  </div>
</section>

<section class="section8">
  <div class="section8--wrap">
    <h3 class="section8--wrap--subtitle">Testimonials</h3>
    <h2 class="section8--wrap--title">Comments & Reviews</h2>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p class="swiper-slide--testimonial">
            Congue augue sagittis ligula aliquet egestas magna ipsum vitae purus
            ipsum and primis cubilia laoreet augue egestas donec ltrice ligula a
            cursus porta augue molestie suscipit magna at tortor
          </p>
          <h2 class="swiper-slide--name">Rachel A.</h2>
          <span class="swiper-slide--time"> 19 days ago</span>
        </div>
        <div class="swiper-slide">
          <p class="swiper-slide--testimonial">
            Congue augue sagittis ligula aliquet egestas magna ipsum vitae purus
            ipsum and primis cubilia laoreet augue egestas donec ltrice ligula a
            cursus porta augue molestie suscipit magna at tortor
          </p>
          <h2 class="swiper-slide--name">Rachel A.</h2>
          <span class="swiper-slide--time"> 19 days ago</span>
        </div>
        <div class="swiper-slide">
          <p class="swiper-slide--testimonial">
            Congue augue sagittis ligula aliquet egestas magna ipsum vitae purus
            ipsum and primis cubilia laoreet augue egestas donec ltrice ligula a
            cursus porta augue molestie suscipit magna at tortor
          </p>
          <h2 class="swiper-slide--name">Rachel A.</h2>
          <span class="swiper-slide--time"> 19 days ago</span>
        </div>
        <div class="swiper-slide">
          <p class="swiper-slide--testimonial">
            Congue augue sagittis ligula aliquet egestas magna ipsum vitae purus
            ipsum and primis cubilia laoreet augue egestas donec ltrice ligula a
            cursus porta augue molestie suscipit magna at tortor
          </p>
          <h2 class="swiper-slide--name">Rachel A.</h2>
          <span class="swiper-slide--time"> 19 days ago</span>
        </div>
        <div class="swiper-slide">
          <p class="swiper-slide--testimonial">
            Congue augue sagittis ligula aliquet egestas magna ipsum vitae purus
            ipsum and primis cubilia laoreet augue egestas donec ltrice ligula a
            cursus porta augue molestie suscipit magna at tortor
          </p>
          <h2 class="swiper-slide--name">Rachel A.</h2>
          <span class="swiper-slide--time"> 19 days ago</span>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<section class="section9">
  <div class="section9--wrap">
    <h2 class="section9--wrap--instagram-link">
      Follow: <a class="instagram--link" href="#">@reine_studio</a>
    </h2>
    <div class="section9--wrap--instagram-feed">
      <div class="instagram-feed--wrap">
        <img class="instagram-feed--post" src="./img/woman_08.jpg" alt="" />
      </div>
      <div class="instagram-feed--wrap">
        <img class="instagram-feed--post" src="./img/woman_08.jpg" alt="" />
      </div>
      <div class="instagram-feed--wrap">
        <img class="instagram-feed--post" src="./img/woman_08.jpg" alt="" />
      </div>
      <div class="instagram-feed--wrap">
        <img class="instagram-feed--post" src="./img/woman_08.jpg" alt="" />
      </div>
      <div class="instagram-feed--wrap">
        <img class="instagram-feed--post" src="./img/woman_08.jpg" alt="" />
      </div>
      <div class="instagram-feed--wrap">
        <img class="instagram-feed--post" src="./img/woman_08.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
